html
{
    scroll-behavior:smooth;
}


:root{
 
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    --text-primary:#292929;
    --bg-primary:#F5F5F5; 
    --bd-primary:#6C63FF;
    --bg-secondary:#8784DE;
    --bg-third:#EDEDED;
    --bg-fourth: #3830C3;
}
.span-text 
{
    color:var(--bd-primary)
}
body
{
    background-color: var(--bg-primary);
    padding:0;
    margin:0;
    overflow-x:hidden;
    min-height:300vh;
}

header{
    position: relative; 
}
header h2{
    position: fixed;
    left:3vh;
    margin:0;
    top:1vh;
    font-size:1.1rem;
    font-weight: 900;
    letter-spacing: 3px;
    color:var(--text-primary)
}
.navbar
{
    position:absolute;
    color:var(--text-primary); 
    letter-spacing: 1px;
    right:0;
}


.container-nav 
{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width:90vh;
    font-size: 0.6rem;
 
}  


li 
{
    text-transform: lowercase;
}
li a{
    text-decoration: none;
    color:var(--text-primary);
}
li a:hover
{
  
    color:var(--bd-primary);
    transition: 200ms;
   
}



#container-main
{
display:flex;
min-height:60vh;
flex-direction: column; 
align-items: center;
}
#container-main div
{
margin-top:2.3rem;
}
.main-div-one   
{
padding:1em;
width:50%;
font-size: 2.5rem;
text-transform: uppercase;
text-align: center;
letter-spacing: 4px;
color:var(--text-primary);
min-height:5vh;
}

.main-div-two   
{
background-color: var(--bg-secondary);
min-width:100%;
text-align: center;
padding:1em;
-webkit-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
-moz-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
}
.main-div-three
{
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top:2rem;
    min-height: 30vh;
    color:var(--text-primary)
} 

#container-about
{
min-height:40vh;
display:flex;
flex-direction: row;
justify-content: space-around;
}

.about-one
{
text-align: center;
padding: 1em;
width:35%;
min-height: 20vh;
font-size:0.9rem;
letter-spacing: 1px;
border-radius: 60px;
background-color:  var(--bg-secondary);
-webkit-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
-moz-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
color:var(--text-primary)
}

.about-two
{
width:35%;
min-height: 20vh;
text-align: center;
border-radius: 40px;
padding:1em;
background-color: var(--bg-secondary);
-webkit-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
-moz-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);

}

#container-offer
{
margin-top:5rem;
min-height:40vh;
display:flex;
justify-content: space-around;
}


#container-offer div 
{
    color:var(--text-primary);
    transition:400ms ease-in-out;
    width:25%;
    min-height: 20vh;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 2px;
    padding: 0.3em;
    border: 2px solid var(--bg-secondary);
    -webkit-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
-moz-box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);
box-shadow: 1px 3px 28px -6px rgba(108, 99, 255, 1);

}

#container-offer div  b 
{
    font-size: 1.2rem;
}


#container-offer div:hover 
{
  background-color: var(--bd-primary);
transform:scale(0.95);
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 24px 2px rgba(135, 132, 222, 1);
  -moz-box-shadow: 1px 4px 24px 2px rgba(135, 132, 222, 1);
  box-shadow: 1px 4px 24px 2px rgba(135, 132, 222, 1);
  color:var(--bg-primary);
  border-color:var(--bg-fourth);
}








#container-contact-form
{
display:flex;
justify-content: center;
min-height:20vh;
margin-top:5rem;
text-align: center;
}

#contact-header
{
font-size:2rem;
letter-spacing: 2px;
text-transform: uppercase;
padding-top:1em;
color:var(--text-primary)
}



.contact-form
{
width:50%;
text-align:center;
}



.contact-form textarea 
{
width:92%;
min-height:30vh;
font-size:0.7em;
border-radius: 10px;
outline:none;
border:2px solid;
background-color: var(--bg-third);
border-color: var(--bd-primary);
padding:1em;
border-radius: 30px;
}

input[type=text]
{
min-height:3vh;
padding:1em;
margin:1rem;
width:42%;
font-size:0.7em;
border-radius: 30px;
outline:none;
border:2px solid;
border-color: var(--bd-primary);
background-color: var(--bg-third);
}

button
{
    margin-top:1rem;
    border-radius:30px; 
    padding: 0.3em 1em;
    font-size:0.7em;
    background-color: var(--bg-third);
    border-color: var(--bd-primary);
    color:var(--text-primary);
    transition: 400ms ease-in-out;
}
button:hover
{
    color:var(--bg-primary);
    background-color: var(--bd-primary);
    transform: all; 
    border-color: var(--bg-fourth);
    cursor:pointer;
}
footer
{
  background-color: var(--text-primary);
  min-height:20vh;
  color:var(--bg-primary);
  display:flex;
  
} 
.footer-container 
{
    
  min-height:5vh;
  width:50%;
  padding:1em;
  margin:1rem;
  display:flex;
  justify-content: center;  
}
 
.footerSpan
{
    margin-top:1rem;
    font-size:2rem;
    letter-spacing: 2px;
}
.footerSpan p 
{
    font-size:0.4rem;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.footer-container  i 
{
    margin-top:1rem;
    padding:1em;
    font-size:1rem;
    transition: 300ms ease-in-out;
}

.footer-container  i::before 
{
  color:var(--bg-primary)
} 

.footer-container  i:hover
{
 transform:scale(0.9) ;

} 

.footer-container i::after
{
    color:var(--bg-primary);
}

.footer-navbar 
{
    min-height:9vh;
    width:100%;
    display: flex;
    justify-content:space-between;
  
}

.footer-nav-item-container 
{
    
    min-height:3vh;
   text-align: center;
    width:90%;
    padding:1em;
    list-style-type: none;
}

.footer-nav-item 
{
    font-size:0.6rem;
    padding: 0.2em;
    letter-spacing: 2px;
   
}
.footer-nav-item a 
{
    color:var(--bg-primary);
}






















// blinker effect 
span
{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
50%
{
     opacity:0;
}
}