@use '../abstracts' as *;
footer{
    background-color: #0F0F0F;
    margin-top:61rem;
    min-height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-container{
        color:$maintext;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width:40%;
        font-size:0.85rem;
        span{
            color: $footer;
            text-transform: uppercase;
        }
        a{
            transition: color 400ms ease-in-out;
            text-decoration: none;
            color:$maintext;
            text-transform: uppercase;
            font-size:0.85rem;
            font-weight: bolder;
            &:hover{
                color: $footer;
            }
        }
    }
}