@use '../abstracts' as *; 
 header{
   position: absolute;
   z-index: 2;
   width:100%;
   min-height:8vh; 
   .logo{
     top:3vh;
     left:5rem;
     position:absolute;
     width:10%; 
   }
   .burger{
     @include burger(5rem, 3vh, url(/img/hamburger.svg));
     z-index: 2;
     width:5%;
     cursor: pointer;
   } 
   .burger.active{
     @include burger(5rem, 3vh, url(/img/close1.svg));
  }
   .nav{
    @include nav-slide-in(-18rem);
     position:fixed;
     background-color:$bgopacity;
     transition: ease-in-out 400ms;
     .nav-bar{
       width:100%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       flex-direction: column;
       list-style-type: none;
       padding:1rem;
       min-height: 50vh;
  
       .nav-item{
         font-size:1.3rem;
           text-decoration: none;
           color: $maintext;
           &:after{
            content: '';
            display: block; 
            width:0; 
            transition: width .4s ease-in-out;
            margin-top: 0.1rem;
            height: 0.2vh;
            background-color: $borderAnimColor;
          }
          &:hover::after{
            width:100%;
            color:$borderAnimColor;
          }
       }
     }
   }
   .nav.active{
    @include nav-slide-in(0);
   }
 }








  /*
    .nav-bar{
      min-height:8vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     li{
       display: none;
       list-style-type: none;
       letter-spacing: doubleVal(0.5px);
       font-weight: bold;
       a{
        color: $maintext;
        text-decoration: none;
      }
       &:after{
        content: '';
        display: block; 
        width:0; 
        transition: width .4s ease-in-out;
        margin-top: 0.1rem;
        height: 0.2vh;
        background-color: $borderAnimColor;
      }
      &:hover::after{
        width:100%;
      }
     }
    }*/

