@use '../abstracts' as *;
.showcase-two{
    top:100vh;
    position: relative;
    width: 100%;
    padding:1rem;
    background-image: url(/img/constellation.svg);
    height:140vh;
h6{
    @include h6(46%);
    transition: opacity 1s ease-in;
    opacity: 0;
}
h6.slide{
    opacity: 1;
}
    h2{
        @include h2(33%);
        transition: opacity 1s ease-in;
        opacity:0; 
    }
    h2.slide{
        opacity:1;
    }
    .booster-menu-showcase{
        position:relative;
        top:23vh;
        width:100%;
        min-height:110vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .booster-look-one{
            @include booster-look(url(/img/clicker.png),-15rem);
            margin:1rem;
            opacity:0;
        }
        .booster-look-one.slide{
            transform: translateX(0);
            opacity:1; 
        }
        .booster-text-one{
            @include booster-text(15rem);
            margin:1rem;
            opacity:0;
            p{
              @include booster-text-p;
              i{
                  color:$borderAnimColor;
              }
            }  
        }
        .booster-text-one.slide{
            transform: translateX(0);
            opacity: 1
        }
        .booster-look-two{
            @include booster-look(url(/img/miner.png), 15rem);
            margin:1rem;
            opacity:0;
        }
        .booster-look-two.slide{
            transform:translateX(0);
            opacity:1
        }

        .booster-text-two{
            @include booster-text(-15rem);
            margin:1rem;
            opacity:0;
            p{
                @include booster-text-p;
                i{
                    color:$borderAnimColor;
                }
            }
        }
        .booster-text-two.slide{
            transform: translateX(0);
            opacity:1;
        }
    }
}