@use '../abstracts' as *;
.showcase-three{
    top:100vh;
    background-image:url(/img/constellation.svg) ;
    width:100%;
    min-height:80vh;
    position: relative;
    h6{
        @include h6(41%);
    }
    h2{
        @include h2(38%);
    }
    .price-container{
        position: absolute;
        top:25vh;
        width: 90%;
        right: 5%;
        min-height: 50vh; 
        display:flex;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        .standard{
            width:30%;
            max-height:42vh;
            padding:2rem;
        background-color: $bgopacity;
        border-radius: 40px;
            h3{
                @include h3();
                span{
                    color:$borderAnimColor;
                }
            }
            .data{
            margin-top:1vh;
             padding: 1rem; 
             font-size: 1.5rem;
             text-align: justify; 
             letter-spacing: doubleVal(0.5);
             color:$maintext;
             margin-left:2rem;
             i{
                color: $borderAnimColor;
            } 
            p{  
                padding:0.7rem;
            }
            }
            a{
                display: block;
                text-decoration: none;
                color: $maintext;
              border:1px solid $maintext;
                width:30%;
                padding:0.75rem;
                border-radius: 25px;
                font-size:1.4rem;
                margin:auto;
                transition:300ms transform ease-in-out;
                &:hover{
                  transform: translateY(10%);
                  opacity:0.75;

                }
            }
        }
        .premium{
            width:30%;
            max-height:42vh;
            padding:2rem;
             background-color: $bgopacity;
        border-radius: 40px;
            h3{
            @include h3();
            span{
                color:$borderAnimColor;
            }
            }
            .data{
                color:$maintext;
                margin-top:1vh;
                margin-left:2rem;
                padding: 1rem;
                font-size: 1.5rem; 
                text-align: justify;
                letter-spacing: doubleVal(0.5px);
                i{
                    color: $borderAnimColor;
                }
                p{
                    padding:0.7rem;
                }
            }
            a{
                display: block;
                text-decoration: none;
                color: $maintext;
              border:1px solid $maintext;
                width:30%;
                padding:0.75rem;
                border-radius: 25px;
                font-size:1.4rem;
                margin:auto;
                transition:300ms transform ease-in-out;
                &:hover{
                  transform: translateY(10%);
                  opacity:0.75;
                }
            }
        }
    }
}