$mainbg: #171717;
$pvpspantxt: $mainbg;
$maintext:#F2F2F2;
$mainfont:'Lato', sans-serif;
$borderAnimColor: #009E12; //#00D118;

$paragraph: #E6E6E6;
$widget: #1A1A1A;
$bgopacity: rgba(0,0,0,0.20);
$discord: #7289da;
$h3color: #009411;
$footer:#919191;